<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>学生成绩信息管理系统</title>
    <link
      href="asserts/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
      rel="stylesheet"
    />
    <link
      href="asserts/css/dashboard.css"
      th:href="@{/asserts/css/dashboard.css}"
      rel="stylesheet"
    />

    <style>
      .search-bar {
        display: flex;
        align-items: center;
        gap: 0 20px;
      }

      .search-bar label {
        margin: 0;
      }

      .search-bar .search-bar__item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        flex: 1;
      }

      .search-bar .search-bar__item .form-control {
        flex: 1;
        width: initial;
      }
    </style>
  </head>

  <body>
    <div th:replace="commons/teabar::topbar"></div>
    <div class="container-fluid">
      <div class="row">
        <div
          th:replace="commons/teabar::#sidebar(activeUri='scoreAnalysis')"
        ></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <form method="get" th:action="@{/tea/scoreAnalysis}">
            <div class="search-bar mb-3">
              <div class="search-bar__item">
                <label>学科：</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="search-bar__item">
                <label>学期：</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <button class="btn btn-outline-secondary" type="submit">
                查询
              </button>
            </div>
          </form>
        </main>
      </div>
    </div>

    <script
      type="text/javascript"
      src="asserts/js/jquery-3.2.1.slim.min.js"
      th:src="@{/webjars/jquery/3.3.1/jquery.js}"
    ></script>
    <script
      type="text/javascript"
      src="asserts/js/popper.min.js"
      th:src="@{/webjars/popper.js/1.11.1/dist/popper.js}"
    ></script>
    <script
      type="text/javascript"
      src="asserts/js/bootstrap.min.js"
      th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"
    ></script>
    <script
      type="text/javascript"
      src="asserts/js/feather.min.js"
      th:src="@{/asserts/js/feather.min.js}"
    ></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
